# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# cache
firestore-debug.log
/.firebase

# dependencies
/node_modules
/.pnp
.pnp.js

# notes to self
To-Do.md
EXAMINER.txt

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
